/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

/* variables.css */

/* Colores */
:root {
    --ion-color-primary: #3880ff; /* Color primario */
    --ion-color-secondary: #32db64; /* Color secundario */
    --ion-color-tertiary: #f53d3d; /* Color terciario */
  
    --ion-color-success: #10dc60; /* Color de éxito */
    --ion-color-warning: #ffc409; /* Color de advertencia */
    --ion-color-danger: #f04141; /* Color de peligro */
    --ion-color-light: #f4f5f8; /* Color claro */
    --ion-color-medium: #989aa2; /* Color medio */
    --ion-color-dark: #222428; /* Color oscuro */
  }
  
  /* Tipografía */
  :root {
    --ion-font-family: 'Roboto', sans-serif; /* Fuente predeterminada */
    --ion-font-size-small: 14px; /* Tamaño de fuente pequeña */
    --ion-font-size-medium: 16px; /* Tamaño de fuente mediana */
    --ion-font-size-large: 20px; /* Tamaño de fuente grande */
  }
  
  /* Espaciado y dimensiones */
  :root {
    --ion-padding-horizontal: 20px; /* Relleno horizontal */
    --ion-padding-vertical: 16px; /* Relleno vertical */
    --ion-spacing-small: 8px; /* Espaciado pequeño */
    --ion-spacing-medium: 16px; /* Espaciado medio */
    --ion-spacing-large: 24px; /* Espaciado grande */
  }
  
  /* Sombras y bordes */
  :root {
    --ion-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra de caja */
    --ion-border-radius: 8px; /* Radio de borde */
    --ion-border-width: 1px; /* Ancho de borde */
  }
  
  /* Efectos y transiciones */
  :root {
    --ion-transition-duration: 0.3s; /* Duración de transición */
    --ion-transition-easing: ease-in-out; /* Curva de aceleración de transición */
  }
  